<div class="container">

    <div class="jumbotron">
        <h1>Eat-Da-Burger</h1>
        <p>Burger Orders.</p>
        <panel>
                <div class="form-group">
                    {{!-- <input type="text" id="newburger" name="burger"> --}}
                    <form class="add">

                        <div class="form-group text-center">
                            <input type="text" id="ca" name="name">
                        </div>
                        <div class="text-center">
                             <button type="submit" class="text-center">Add Burger!</button>
                        </div>  

                    </form>

                </div>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Ready Burgers</strong>
                </div>
                <div class="panel-body">

                    <ul>
                        <h3 class="text-center"></h2>
                        {{#each burgers}}
                        {{#unless devoured}}
                            <li class="text-center">
                   
                        <span>{{this.id}}. </span>{{this.burger_name}}
                        <button data-id="{{this.id}}" class="devour">Devour It!</button>
                 

                            </li>
                        {{/unless}}
                        {{/each}}

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burgers devoured</strong>
                </div>
                <div class="panel-body">
                    <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                        <li class="text-center">
                    
                        <span>{{this.id}}. </span>{{this.burger_name}} 
                        
                        </li>
                    {{/if}}
                    {{/each}}
            </ul>
                </div>
            </div>
        </div>

    </div>
</div>